#canvas {
  position: relative;
  left: 0;
  top: 0;
 background-color: #252934;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

#h1Animation {
  top: 20%;
  left: 300px;
  position: absolute;
  gap: 4rem;
  font-size: 60px;
  z-index: 30000;
  width: 100%;
}
#h1Animation span {
  color: #2bdefd;
}
#ViewMyWork {
  font-family: "Chakra Petch", sans-serif;
  border: 2px solid white;
  top: 45%;
  left: 300px;
  color: #fff;
  background-color: #252934;
  padding: 10px 20px;
  width: 500px;
  height: auto;
  font-size: 30px;
  z-index: 30000;
  position: absolute;
  text-align: center;
  cursor: pointer;
}
#ViewMyWork:hover {
  color: #fff;
  background-color: #2bdefd;
  border: 2px solid #2bdefd;
}


/* ---------------------MEDIA QUERY--⏬⏬⏬⏬⏬⏬------------------- */
@media (min-width: 4097px) and (max-width: 6400px){
  #h1Animation {
    top: 400px;
    font-size: 120px;
    left: 500px;
  }

  #ViewMyWork {
    left: 500px;
    top: 900px;
    width: 600px;
    font-size: 40px;
    height: 90px;
  }
}
@media (min-width: 3200px) and (max-width: 4096px){
  #h1Animation {
    top: 400px;
    font-size: 90px;
    left: 500px;
  }

  #ViewMyWork {
    left: 500px;
    top: 700px;
    width: 500px;
    font-size: 30px;
    height: 80px;
  }


}
@media (min-width: 1367px) and (max-width: 1920px){
  #canvas {
    width: 100%;
    height: 100vh;
  }
  #h1Animation {
    top: 200px;
    left: 200px;
    padding: 0px;
    font-size: 50px;
    z-index: 30000;
    padding: 0px;
    margin: 0px;
    width: 50%;
  }
  #introduction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }

  #ViewMyWork {
    top: 400px;
    left: 200px;
    width: 300px;
    font-size: 20px;
    position: absolute;
    height: 60px;
  }

}
@media (min-width: 1200px) and (max-width: 1366px){
  #canvas {
    width: 100%;
    height: 100vh;
  }
  #h1Animation {
    top: 200px;
    left: 0px;
    padding: 0px;
    font-size: 50px;
    z-index: 30000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  #introduction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  #ancorIntroduction{
    top: 400px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
  #ViewMyWork {
    top: 0px;
    left: 0px;
    width: 400px;
    font-size: 25px;
    position: relative;
    height: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  #canvas {
    width: 100%;
    height: 100vh;
  }
  #h1Animation {
    top: 200px;
    left: 0px;
    padding: 0px;
    font-size: 50px;
    z-index: 30000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  #introduction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  #ancorIntroduction{
    top: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
  #ViewMyWork {
    top: 0px;
    left: 0px;
    width: 400px;
    font-size: 25px;
    position: relative;
    height: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  #canvas {
    width: 100%;
    height: 100vh;
  }
  #h1Animation {
    top: 200px;
    left: 0px;
    padding: 0px;
    font-size: 55px;
    z-index: 30000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  #introduction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  #ancorIntroduction{
    top: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
  #ViewMyWork {
    top: 0px;
    left: 0px;
    width: 380px;
    font-size: 25px;
    position: relative;
    height: 50px;
  }
}

@media (min-width: 601px) and (max-width: 767px){
  #canvas {
    width: 100%;
    height: 100vh;
  }
  #h1Animation {
    top: 200px;
    left: 0px;
    padding: 0px;
    font-size: 40px;
    z-index: 30000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  #introduction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  #ancorIntroduction{
    top: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
  #ViewMyWork {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    position: relative;
  }
}

@media (min-width: 481px) and (max-width: 600px){
  #canvas {
    width: 100%;
    height: 100vh;
  }
  #h1Animation {
    top: 200px;
    left: 0px;
    padding: 0px;
    font-size: 40px;
    z-index: 30000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;

  }
  #introduction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  #ancorIntroduction{
    top: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
  #ViewMyWork {
    top: 0px;
    left: 0px;
    width: 250px;
    height: 50px;
    font-size: 15px;
    position: relative;
  }
}

@media (min-width: 361px) and (max-width: 480px){
  #canvas {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }

  #h1Animation {
    top: 200px;
    left: 0px;
    padding: 0px;
    font-size: 30px;
    z-index: 30000;
    text-align: center;
    padding: 10px;
  }
  #introduction{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
  }
  #ancorIntroduction{
    top: 500px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
  #ViewMyWork {
    top: 0px;
    left: 0px;
    width: 250px;
    height: 50px;
    font-size: 15px;
    position: relative;
  }
}

@media (max-width: 360px){
  #introduction{
    width: 100%;
  }
  #canvas {
    width: 100%;
    height: 100vh;
  }
  #h1Animation {
    top: 200px;
    left: 0px;
    padding: 0px;
    font-size: 30px;
    z-index: 30000;
    text-align: center;
  }
  #ViewMyWork {
    top: 400px;
    left: 3.4rem;
    width: 250px;
    font-size: 15px;
  }
 
}

