* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: #232323;
  color: #d7f9ff;
  overflow-x: hidden;
  overflow: auto;
}

[data-animate] {
  opacity: 0;
}
[data-animate="toRight"] {
  transform: translate3d(-100px, 0, 0) scale(0.1, 1);
}
[data-animate="toleft"] {
  transform: translate3d(100px, 0, 0) scale(0.1, 1);
}
[data-animate].on{
  opacity: 1;
  transform: translate3d(0px, 0, 0) scale(1, 1);
}

