* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: #232323;
  color: #d7f9ff;
  overflow-x: hidden;
  overflow: auto;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    margin-left: -40px;
  }
  50% {
    margin: 0px;
  }
  100% {
    opacity: 1;
  }
}

.container {
  height: 100%;
}

.headerText span {
  color: #2bdefd;
  animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(290) scale(1);
  }
  100% {
    transform: translateY(290) scale(0);
  }
}
