#myWork{
    color: #ababab;
    /* border: 4px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 200px;
    text-align: center;
    /* gap: 30px; */
}
#myWorkTitle{
    /* border: 3px solid rgb(17, 0, 255); */
    padding-top: 60px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #d7f9ff;
    width: 100%;
    height: 100%;
}
.containerPrinciples{
    /* border: 3px solid rgb(255, 0, 212); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 100px;
}
.principles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.principles img{
    background-color: #2bddfdbd;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    padding: 10px;
    width: 100px;
}
.principles h1{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 35px;
    color: #d7f9ff;
}
.principles p{
    /* border: 3px solid rgb(17, 0, 255); */
    width: 490px;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color: #d7f9ff;
}

.containerMyWork{
    /* border: 4px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* --------------COLUNA--1--\/------------------ */
.myWorkLeft{
    width: 50%;
    /* border: 4px solid rgb(0, 255, 34); */
} 

.myWorkLeft img{
    /* border: 4px solid rgb(11, 109, 24); */
    position: relative;
    width: 100%;
    height: 100%;
    animation: mymove 3s infinite ease;
}

@keyframes mymove {
    0%   {bottom: -10px;}
    50%  {bottom: 20px;}
    100%   {bottom: -10px;}
  }

/* --------------COLUNA--1--/\------------------ */
/* --------------COLUNA--2--\/------------------ */
.myWorkRight{
    /* border: 4px solid rebeccapurple; */
    width: 50%;
    height: 100vh;
}

.containerRight{
    /* border: 5px solid rgb(221, 12, 12); */
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.containerLinks{
    display: flex;
    /* gap: 10px; */
    /* border: 5px solid rgb(255, 0, 0); */
    width: 100%;
}

.links{
    /* border: 5px solid rgb(12, 78, 221); */
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    width: 100%;
    color: #2bdefd;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    transition: .3s;
    position: relative;
}  
.links:hover{
    color:#2bddfd93;
}

.links::after{
    /* border: 5px solid rgb(12, 221, 57); */
    content: '';
    width: 0%;
    height: 3px;
    background: #2bdefd;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: -10px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}
.links.active-link::after{
    width: 100%;
}


.contentLinks{
    /* border: 5px solid rgb(12, 78, 221); */
    width: 100%;
    height: 70%;
    padding: 30px 5px;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    display: none;
}
.contentLinks ul li span{
    color: #1e9db4;
    font-size: 18px;
    padding: 10px;
}
.contentLinks ul li {
    text-align: justify;
    list-style: none;
    font-size: 18px;
    width: 100%;
    padding: 10px 0px;
}


.active-tab.active-tab{
    display: block;
}
#upArrow{
    background-color: #ff8c2a;
    padding: 13px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px; 
    right: 40px;
    z-index: 4000;
    animation: myMovieYodaSMS 2s infinite ease-out;
    text-align: center;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    filter: drop-shadow(0px 0px 1px #fff);
    cursor: pointer;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    transition: clip-path 0.5s;
}
#upArrow:hover{
    background-color: #fa9945;
    clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 100%, 50% 70%, 0 100%);
}