#navbarDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  z-index: 90000 !important;
  width: 100%;
  height: 60px;
  padding: 0px 500px 0px 40px;
  background: linear-gradient(to bottom, #000000ff, #000000ff, #222222df);
  top: 0;
  overflow: hidden;
  width: 100%;
}

#navbarDesktop img {
  width: 220px;
}
.btnNavbar {
  font-size: 22px;
  margin: 0px 20px 0px 20px;
  padding: 5px 20px;
  color: #fff;
}
.btnNavbar:hover {
  color: #7b71ff;
}
.fixed-navbar {
  position: fixed !important;
  z-index: 5000;
}
.relative-navbar {
  position: relative !important;
}
/* ---------------------NAVBAR DESKTOP--⏫⏫⏫⏫⏫⏫------------------- */

/* ---------------------NAVBAR MOBILE--⏬⏬⏬⏬⏬⏬------------------- */

#menu-btn{
    display: none;
    position: fixed;
    top: 20px; right: 30px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    background: #ff8c2a;
    color: #d7f9ff;
    text-align: center;
    z-index: 1000;
}
#menu-btn.fa-times{
    transform: rotate(180deg);
    background: #2BFDBE;
    color: #000;
}
.navbar{
    text-transform: uppercase;
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #01080e,  #031525, #3a3c3df5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 50px;
    clip-path: circle(0% at 95.3% 8.5%);
}
.navbar.active{
    clip-path: circle(140% at 95.3% 8.5%);
}
.navbar.desactive{
    clip-path: circle(0% at 95.3% 8.5%);
}
.navbar a{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
    color: #2bdefd;
}
.navbar a:hover{
    color: #7b71ff;
}
.navbar a::before{
    content: attr(data-text);
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: #2bdefd;
    pointer-events: none;
    font-weight: bolder;
    letter-spacing: .4em;
    opacity: 0;
    z-index: -1;
}
.navbar a:hover::before{
    letter-spacing: 0em;
    opacity: .1;
    transition: .3s ease-out;
}

/* ---------------------NAVBAR MOBILE--⏫⏫⏫⏫⏫⏫------------------- */

/* ---------------------MEDIA QUERY--⏬⏬⏬⏬⏬⏬------------------- */

@media (min-width: 1367px) and (max-width: 1800px){
  body{
    overflow: hidden;
}

#navbarDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 0px 0px 0px 10px;
    top: 0;
  }
  
  #navbarDesktop img {
    width: 150px;
    margin: 0px 40px 0px 80px;
  }
  #navbarDesktop div{
    /* border: 1px solid red; */
    width: 100%;
    gap: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .btnNavbar {
    /* border: 1px solid red; */
    width: 150px;
    height: 100%;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
  }

}

@media (min-width: 1200px) and (max-width: 1366px){
  body{
    overflow: hidden;
}

#navbarDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 0px 0px 0px 10px;
    top: 0;
  }
  
  #navbarDesktop img {
    width: 150px;
    margin: 0px 40px 0px 20px;
  }
  #navbarDesktop div{
    /* border: 1px solid red; */
    width: 100%;
    gap: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
  }
  .btnNavbar {
    /* border: 1px solid red; */
    width: 150px;
    height: 100%;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  body{
    overflow: hidden;
}

#navbarDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 60px;
    padding: 0px 0px 0px 10px;
    top: 0;
  }
  
  #navbarDesktop img {
    width: 150px;
    margin: 0px 40px 0px 0px;
  }
  #navbarDesktop div{
    /* border: 1px solid red; */
    width: 100%;
    gap: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .btnNavbar {
    /* border: 1px solid red; */
    width: 150px;
    height: 100%;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
  }
}
@media (min-width: 601px) and (max-width: 991px){
  body{
    overflow: hidden;
}

#navbarDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 0px 0px 0px 10px;
    top: 0;
    
  }
  
  #navbarDesktop img {
    width: 120px;
    margin: 0px 40px 0px 0px;
  }
  #navbarDesktop div{
    /* border: 1px solid red; */
    width: 100%;
    gap: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .btnNavbar {
    /* border: 1px solid red; */
    width: 100px;
    height: 100%;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px;
  }

}

@media (min-width: 481px) and (max-width: 600px){
    body{
        overflow: hidden;
    }
   
    #navbarDesktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        height: 40px;
        padding: 0px 0px 0px 10px;
        top: 0;
      }
      
      #navbarDesktop img {
        width: 80px;
      }
      #navbarDesktop div{
        /* border: 1px solid red; */
        width: 100%;
        gap: 20px;
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .btnNavbar {
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
        font-size: 12px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
      }
   
}

@media (min-width: 361px) and (max-width: 480px){
    #navbarDesktop{
        display: none;
    }
    #menu-btn{
    display: block;
    top: 10px; right: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    }
    .navbar a:hover::before{
        font-size: 65px;
    }
    body{
        overflow: hidden;
    }
   
}
@media (max-width: 360px){
    #navbarDesktop{
        display: none;
    }
    #menu-btn{
    display: block;
    top: 10px; right: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    }
    .navbar a:hover::before{
        font-size: 65px;
    }
    body{
        overflow: hidden;
    }
   
}
