#projects {
  /* border: 4px solid red; */
  background-color: #f5f5f5;
  color: #444649;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0px 200px 200px 200px;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 50% 100%, 0 97%);
}
#projectsTitle {
  /* border: 3px solid rgb(17, 0, 255); */
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #444649;
  width: 100%;
  height: 100%;
  padding: 100px 0px 100px 0px;
}
/* #containerBtnProjects {
  border: 3px solid rgb(255, 60, 0);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 0px 180px 0px 180px;
}
.btnProjects {
  color: #616161;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
} */
#containerProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.contentCard {
  width: 400px;
  height: 400px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  position: relative;
  transition: 0.3s;
}
.contentCard:hover {
  opacity: 1;
}
.card h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 25px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(-100px);
  color: #1b242f;
  opacity: 0;
}
.contentCard:hover h1 {
  transform: translateY(0);
  opacity: 1;
}
.card p {
  font-size: 14px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(-100px);
  color: #1b242f;
  opacity: 0;
}
.contentCard:hover p {
  transform: translateY(0);
  opacity: 1;
}

.btnCard {
  transform: translateY(100px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  border: 3px solid #2bdefd;
  padding: 10px 30px;
  font-size: 15px;
  color: black;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}
.btnCard:hover {
  background-color: #2bdefd;
  color: #fff;
}

.contentCard:hover .btnCard {
  transform: translateY(0);
  opacity: 1;
}

@keyframes fade {
  0% {
    transform: translate(0px, 300px) scale(0.5);
    opacity: 0;
  }

  50% {
    transform: translate(0px, 600px) scale(0.5);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1 !important;
  }
}

/* ------------------CAROCEL--⏬⏬⏬⏬⏬⏬------------ */

.carouselContainer {
  /* border: 5px solid red; */
  display: none;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.carouselContent {
  /* border: 5px solid rgb(251, 255, 0); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  text-align: center;
}

.carouselSlides {
  /* border: 5px solid rgb(255, 0, 212); */
  width: 100%;
  height: 90%;
  gap: 0;
  padding: 0;
  /* background-color: aqua; */
}
.containerImage {
  height: 80%;
  /* border: 5px solid rgb(60, 255, 0); */
  background-color: #ffffffdd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
}
.informCard {
  /* border: 5px solid blue; */
  background-color: #ffffffdd;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
}
.informCard h1 {
  font-family: "Chakra Petch", sans-serif;
  color: #444649;
  font-size: 30px;
}
.informCard p {
  color: #444649;
  font-size: 20px;
  width: 70%;
  padding: 20px;
  text-align: start;
}
.slideLinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.slideLinks a {
  border: 3px solid #594dff;
  width: 200px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #594dff;
  color: #fff;
}
.slideLinks a:hover {
  border: 0;
  background-color: transparent;
  color: #594dff;
  font-weight: 900;
}

.carouselBtnNext {
  /* border: 2px solid rgb(10, 63, 143); */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carouselBtnPrev {
  /* border: 2px solid rgb(10, 63, 143); */
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.carouselSlide {
  /* border: 2px solid rgb(162, 0, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 90%;
  height: 90%;
}
.carouselBtnClose{
  background-color: transparent;
  font-size: 30px;
  position: fixed;
  font-weight: 100;
  cursor: pointer;
  top: 10px;
  right: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---------------------MEDIA QUERY--⏬⏬⏬⏬⏬⏬------------------- */
@media (min-width: 601px) and (max-width: 1000px){
  #projects {
    background-color: #f5f5f5;
    text-align: center;
    flex-direction: column;
    padding: 0px ;
    clip-path: polygon(0 0, 100% 0, 100% 99%, 50% 100%, 0 99%);
    height: 100%;
  }
  #projectsTitle {
    /* border: 3px solid rgb(17, 0, 255); */
    font-family: "Chakra Petch", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #444649;
    width: 100%;
    height: 100%;
    padding: 100px 0px 100px 0px;
  }
  #containerProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
  }
  .card {
    width: 220px;
    height: 220px;
    box-shadow: -2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .contentCard {
    width: 220px;
    height: 220px;
    padding: 20px;
  }
  .card h1 {
    font-size: 15px;
  }
  
  /* ------------------CAROCEL--⏬⏬⏬⏬⏬⏬------------ */
  
  .carouselContent {
    top: 25%;
    left: 50%;
    width: 90%;
    height: 30%;
    text-align: center;
  }
  .carouselSlides {
    width: 100%;
    height: 100%;
  }
  .containerImage {
    width: 100%;
    height: 100%;
    background-color: #ffffffff;
  }
  .informCard {
    background-color: #ffffffff;
    padding: 0px;
    gap: 10px;
  }
  .informCard h1 {
    font-size: 20px;
  }
  .informCard p {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  .slideLinks a {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }
  .carouselBtnNext {
    background-color: transparent;
  }
  .carouselBtnNext img{
    width: 30px;
  }
  .carouselBtnPrev {
    background-color: transparent;
  }
  .carouselBtnPrev img{
    width: 30px;
  }
  .carouselSlide {
    /* border: 2px solid rgb(162, 0, 255); */
    width: 100%;
    height: 100vh;
  }
  .carouselBtnClose{
    font-size: 20px;
    top: 5px;
    right: 10px;
  }
}
@media (min-width: 481px) and (max-width: 600px){
  #projects {
    background-color: #f5f5f5;
    text-align: center;
    flex-direction: column;
    padding: 0px ;
    clip-path: polygon(0 0, 100% 0, 100% 99%, 50% 100%, 0 99%);
    height: 100%;
  }
  #projectsTitle {
    /* border: 3px solid rgb(17, 0, 255); */
    font-family: "Chakra Petch", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #444649;
    width: 100%;
    height: 100%;
    padding: 100px 0px 100px 0px;
  }
  #containerProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
  }
  .card {
    width: 220px;
    height: 220px;
    box-shadow: -2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .contentCard {
    width: 220px;
    height: 220px;
    padding: 20px;
  }
  .card h1 {
    font-size: 15px;
  }
  
  /* ------------------CAROCEL--⏬⏬⏬⏬⏬⏬------------ */
  
  .carouselContent {
    top: 25%;
    left: 50%;
    width: 90%;
    height: 30%;
    text-align: center;
  }
  .carouselSlides {
    width: 100%;
    height: 100%;
  }
  .containerImage {
    width: 100%;
    height: 100%;
    background-color: #ffffffff;
  }
  .informCard {
    background-color: #ffffffff;
    padding: 0px;
    gap: 10px;
  }
  .informCard h1 {
    font-size: 20px;
  }
  .informCard p {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  .slideLinks a {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }
  .carouselBtnNext {
    background-color: transparent;
  }
  .carouselBtnNext img{
    width: 30px;
  }
  .carouselBtnPrev {
    background-color: transparent;
  }
  .carouselBtnPrev img{
    width: 30px;
  }
  .carouselSlide {
    /* border: 2px solid rgb(162, 0, 255); */
    width: 100%;
    height: 100vh;
  }
  .carouselBtnClose{
    font-size: 20px;
    top: 5px;
    right: 10px;
  }
}
@media (min-width: 361px) and (max-width: 480px){
  #projects {
    background-color: #f5f5f5;
    text-align: center;
    flex-direction: column;
    padding: 0px ;
    clip-path: polygon(0 0, 100% 0, 100% 99%, 50% 100%, 0 99%);
    height: 100%;
  }
  #projectsTitle {
    /* border: 3px solid rgb(17, 0, 255); */
    font-family: "Chakra Petch", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #444649;
    width: 100%;
    height: 100%;
    padding: 100px 0px 100px 0px;
  }
  #containerProjects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
  }
  .card {
    width: 320px;
    height: 320px;
    box-shadow: -2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  }
  .contentCard {
    width: 320px;
    height: 320px;
  }
  
  /* ------------------CAROCEL--⏬⏬⏬⏬⏬⏬------------ */
  
  .carouselContent {
    top: 25%;
    left: 50%;
    width: 90%;
    height: 30%;
    text-align: center;
  }
  .carouselSlides {
    width: 100%;
    height: 100%;
  }
  .containerImage {
    width: 100%;
    height: 100%;
    background-color: #ffffffff;
  }
  .informCard {
    background-color: #ffffffff;
    padding: 0px;
    gap: 10px;
  }
  .informCard h1 {
    font-size: 20px;
  }
  .informCard p {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  .slideLinks a {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }
  .carouselBtnNext {
    background-color: transparent;
  }
  .carouselBtnNext img{
    width: 30px;
  }
  .carouselBtnPrev {
    background-color: transparent;
  }
  .carouselBtnPrev img{
    width: 30px;
  }
  .carouselSlide {
    /* border: 2px solid rgb(162, 0, 255); */
    width: 100%;
    height: 100vh;
  }
  .carouselBtnClose{
    font-size: 20px;
    top: 5px;
    right: 10px;
  }
}

@media (max-width: 360px){
#projects {
  background-color: #f5f5f5;
  text-align: center;
  flex-direction: column;
  padding: 0px ;
  clip-path: polygon(0 0, 100% 0, 100% 99%, 50% 100%, 0 99%);
  height: 100%;
}
#projectsTitle {
  /* border: 3px solid rgb(17, 0, 255); */
  font-family: "Chakra Petch", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #444649;
  width: 100%;
  height: 100%;
  padding: 100px 0px 100px 0px;
}
#containerProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
}
.card {
  width: 320px;
  height: 320px;
  box-shadow: -2px 2px 4px 4px rgba(0, 0, 0, 0.2);
}
.contentCard {
  width: 320px;
  height: 320px;
}

/* ------------------CAROCEL--⏬⏬⏬⏬⏬⏬------------ */

.carouselContent {
  top: 25%;
  left: 50%;
  width: 90%;
  height: 30%;
  text-align: center;
}
.carouselSlides {
  width: 100%;
  height: 100%;
}
.containerImage {
  width: 100%;
  height: 100%;
  background-color: #ffffffff;
}
.informCard {
  background-color: #ffffffff;
  padding: 0px;
  gap: 10px;
}
.informCard h1 {
  font-size: 20px;
}
.informCard p {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.slideLinks a {
  width: 100px;
  height: 40px;
  font-size: 10px;
}
.carouselBtnNext {
  background-color: transparent;
}
.carouselBtnNext img{
  width: 30px;
}
.carouselBtnPrev {
  background-color: transparent;
}
.carouselBtnPrev img{
  width: 30px;
}
.carouselSlide {
  /* border: 2px solid rgb(162, 0, 255); */
  width: 100%;
  height: 100vh;
}
.carouselBtnClose{
  font-size: 20px;
  top: 5px;
  right: 10px;
}
}
