.iconWpp{
    width: 90px;
    position: fixed;
    bottom: 30px; 
    left: 10px;
    font-size: 40px;
    cursor: pointer;
    z-index: 4000;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: myMovieYoda 2s infinite ease-out;
}
#containerYodaSMS{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    background-color: antiquewhite;
    width: 270px;
    height: 50px;
    position: fixed;
    bottom: 90px; 
    left: 25px;
    z-index: 4000;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 30% 75%, 25% 100%, 25% 75%, 0% 75%);
}
#yodaSMS{
    font-size: 15px;
    padding: 9px 2px 20px 15px;
    color: #000;
}
#closeYodaSMS{
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
    color: #000;
    padding: 3px 9px 10px 0px;
}
@keyframes myMovieYoda {
    0%   {bottom: 10px;
        filter: drop-shadow(-1px 1px 30px #2bfd945b);
    }
    50%  {bottom: 0px;
        filter: drop-shadow(-1px 1px 10px #2bfd945b);
    }
    100%   {bottom: 10px;
        filter: drop-shadow(-1px 1px 30px #2bfd945b);
    }
  }

  /* ---------------------MEDIA QUERY--⏬⏬⏬⏬⏬⏬------------------- */
  @media (min-width: 361px) and (max-width: 600px){
    .iconWpp{
        width: 60px;
        font-size: 40px;
        left: 2px;
    }
    #containerYodaSMS{
        width: 140px;
        height: 50px;
        position: fixed;
        bottom: 60px; 
        left: 5px;
        z-index: 2000;
        text-align: center;
    }
    #yodaSMS{
        font-size: 10px;
        padding: 9px 2px 0px 14px;
        color: #000;
    }
    #closeYodaSMS{
        cursor: pointer;
        font-size: 15px;
        font-weight: 800;
        color: #000;
        padding: 3px 9px 10px 0px;
    }
    @keyframes myMovieYoda {
        0%   {bottom: 4px;
            filter: drop-shadow(-1px 1px 30px #2bfd945b);
        }
        50%  {bottom: 0px;
            filter: drop-shadow(-1px 1px 10px #2bfd945b);
        }
        100%   {bottom: 4px;
            filter: drop-shadow(-1px 1px 30px #2bfd945b);
        }
      }
  }
@media (max-width: 360px){
    .iconWpp{
        width: 60px;
        font-size: 40px;
        left: 2px;
    }
    #containerYodaSMS{
        width: 140px;
        height: 50px;
        position: fixed;
        bottom: 60px; 
        left: 5px;
        z-index: 2000;
        text-align: center;
    }
    #yodaSMS{
        font-size: 10px;
        padding: 9px 2px 0px 14px;
        color: #000;
    }
    #closeYodaSMS{
        cursor: pointer;
        font-size: 15px;
        font-weight: 800;
        color: #000;
        padding: 3px 9px 10px 0px;
    }
    @keyframes myMovieYoda {
        0%   {bottom: 4px;
            filter: drop-shadow(-1px 1px 30px #2bfd945b);
        }
        50%  {bottom: 0px;
            filter: drop-shadow(-1px 1px 10px #2bfd945b);
        }
        100%   {bottom: 4px;
            filter: drop-shadow(-1px 1px 30px #2bfd945b);
        }
      }
   
  }
